/***** common css Section *****/  
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5vw;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 span{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
    color: transparent;
}

/***** common css Section End *****/