/***** common css Section *****/  
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}

/***** common css Section End *****/
body{
    background: #000;
    width: 100vw;
    height: 100vh;
}
span{
    background: url(./heart\ icon.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: animate 6s linear;
}
@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }    
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}